@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: antiquewhite;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

.container {
  background: white;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.content-section h1 {
  text-align: center;
}

form {
  display: inline-grid;
  width: 100%;
  padding: 0px 10px 10px 10px;
}

form label {
  text-align: start;
}

form button {
  margin-top: 7px;
}

form input:focus {
  outline-color: 120px solid aquamarine;
}