<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="col-lg-8 my-5">
        <h1 class="display-1 text-center">Erro 404!</h1>
        <p class="text-center lead">A página que procuras não existe.</p>

        <div class="row">
            <div class="col">
                <div class="alert-danger">Um erro qualquer</div>
            </div>
        </div>
      </div>
        
    
<%- include('footer')%>