@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: #f3f3f3;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

test {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: inline-grid;
  width: 100%;
  padding: 0px 10px 10px 10px;
}

label {
  text-align: start;
}

button {
  margin-top: 30px;
  background-color: #e3e3e3;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

button:hover {
  background-color: aquamarine;
}

input:focus {
  outline-color: 120px solid red;
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

